 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 :root{
  /*produto*/
  --brand-color:#EF5F4C;
  /*shape*/
  --background-color:#FFFFFF;
  --surface-color:#F5F5F5;
  --skeleton-color:#D9D9D9;
  --shape-transparency:rgba(255, 255, 255, 0.562);
  /*text*/
  --text-color-primary:#313131;
  --text-color-secondary:#6C6C6C;
 }