header{
  padding-block: 32px;
}
#profile{
  display: flex;
  gap: 32px;
}
#profile > div{
  max-width: 395px;
}
#profile img{
  width: 176px;
  height: 176px;
  object-fit: cover;
  border-radius: 50% ;
}
#profile h1{
  color: var(--text-color-primary);
  font: var(--text-lg);
  margin-bottom: 8px;
}
#profile p {
font: var(--text-md);
}
.container{
  display:flex;
  justify-content:space-between;
  align-items: center;
}